@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    width: 100%;
    background-color: rgb(25,25,25);
    color: white;
    width: 100%;
    top: 0;
    height: 10vh;
    padding-top: 0.6%;
    padding-left: 6%;
    padding-right: 6%;
    font-family: "Plus Jakarta Sans", sans-serif;
}

.header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__links ul{
    list-style: none;
    display: flex;
}

.header__links ul li a{
    text-decoration: none;
    color: white;
    padding: 20px;
    font-size: 12px;
}